.header-section {
  display: flex;
  justify-content: space-between;
  margin: 50px 25px;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header-name {
  font-size: 50px;
  color: #2C6CA8;
  font-variant: small-caps;
}
.header-line {
  color: black;
  font-size: 17px;
  font-style: italic;
}
.header-bar {
  background-image: url('../img/header.jpg');
  width: 100%;
  height: 50px;
}
.content-section {
  margin: 175px 0;
  display: flex;
  flex-direction: column;
}
.section-heading {
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
  color: #2C6CA8;
}
.section-text {
  font-size: 18px;
  text-align: center;
  color: #2C6CA8;
  margin: 25px 20% 0;
  color: black;
}
.section-bar {
  background-image: url('../img/header.jpg');
  width: 75%;
  height: 5px;
  margin: 0 auto;
}
.webapp {
  width: 100px;
}
.tech-area {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  margin: 75px 50px 50px;
}
.tech-description {
  font-size: 16px;
  width: 225px;
  margin-top: 25px;
  text-align: center;
}
.tech-section-text {
  display: flex;
  justify-content: center;
}
.tech-label {
  margin-top: 25px;
  color: #ef4c4c;
  text-transform: uppercase;
}
.contact-section-content {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}
.email {
  width: 50px;
}
.contact-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-text {
  margin-top: 20px;
  color: #2C6CA8;
  font-size: 15px;
}
.email-text:hover {
  color: #ef4c4c;
}
.photo {
  height: 175px;
  border-radius: 50%;
  width: 160px;
}
