ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
  display: block;
  border-radius: 5px;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(103, 103, 103);
}
li a:hover {
    background-color: #94d1ed;
    color: #ffffff;
}
li a:active {
    background-color: rgb(30, 91, 114);
    color:#ffffff;
}
li a:visited {
  color: rgb(94, 94, 94);
}
.header-section {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 20px 8%;
  height: 120px;
  padding: 0 10px;
  border-radius: 5px;
  align-items: center;
}
.logo {
  flex-shrink: 1;
  height: 100%;
  width: auto;
}
.header-background {
  background-color: #EAEBEC;
  color: rgb(94, 94, 94);
}
.header-right {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.header-name {
  font-size: 50px;
  font-variant: small-caps;
}
.header-line {
  font-size: 17px;
  font-style: italic;
}
.welcomesection {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: #EAEBEC;
}
.content-section {
  margin: 20px 8%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  border-radius: 5px;
}
.team-section {
  margin: 50px 8%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  border-radius: 5px;
}
.section-heading {
  margin: 50px 0;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
}
.section-text {
  font-size: 18px;
  text-align: center;
  margin: 20px 22%;
  font-weight: lighter;
}
.tech-area-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-area-icon {
  width: 70%;
  height: auto;
  margin-top: 12%;
}
.border-area {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  position: relative;
  max-width: 270px;
  min-width: 200px;
}
.boximages{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tech-area {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin: 10% 0;
}
.team-area {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 40px;
}
.tech-description {
  font-size: 15px;
  width: 90%;
  text-align: center;
  color: #ffffff;
  flex-wrap: wrap;
  font-weight: lighter;
  line-height: 1.5;
}
.tech-desc {
  font-size: 15px;
  width: 175px;
  margin-top: 15px;
  text-align: center;
  line-height: 1.3;
}
.tech-section-text {
  flex-shrink: 1;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  height: 460px;
  margin: 0 4% 60px;
}
.team-section-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.tech-label {
  font-size: 18px;
}
.contact-section-content {
  margin: 50px 8%;
  display: flex;
  flex-direction: column;
  background-color: #94d1ed;
  border-radius: 5px;
}
.email {
  width: 50px;
}
.contact-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.email-text {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 15px;
}
.email-text:hover {
  color: #ef4c4c;
}
.photo {
  height: 150px;
  border-radius: 50%;
  width: auto;
  max-width: 150px;
}
.farista-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.farista-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.farista-name {
  font-size: 18px;
  margin-top: 20px;
}
.farista-about {
  height: 50px;
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}
.farista {
  width: auto;
  height: 250px;
  border-radius: 50%;
}
.team-name {
  margin-top: 20px;
}
