.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 7%;
  background-color: rgb(77, 138, 200);
  height: 755px;
}
.logo {
  height: 180px;
  width: auto;
  background: white;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  margin: 0;
  padding: 0;
  display: flex;
  width: 45%;
  min-width: 485px;
  list-style-type: none;
  justify-content: space-between;
}
.menu li a {
  padding: 6px 15px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  border: 1px solid transparent;
}
.menu li a:hover {
  border: 1px solid white;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.tech {
  height: auto;
  width: 50%;
}
.header-bottom-text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.punchline {
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 300;
  text-shadow: 3px 3px 4px #206ab5;
}
.mantra {
  margin-top: 25px;
}
.mantra {
  margin-top: 25px;
  color: white;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 300;
  font-style: italic;
  color: rgb(216,231,244);
}
.welcome-section {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  color: rgb(104, 105, 106);
}
.section-text {
  font-size: 18px;
  text-align: center;
  margin: 0 auto 50px;
  font-weight: lighter;
  width: 65%;
}
.section-heading {
  margin: 50px 0;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
}
.separator {
  border: 2px solid rgb(57,127,198);
  height: 0;
  width: 10%;
  margin: 0 auto;
}
.service-section {
  margin: 20px 7%;
  display: flex;
  flex-direction: column;
  color: rgb(104, 105, 106);
}
.tech-section {
  display: flex;
  justify-content: space-around;
  height: 460px;
  margin: 0 4% 60px;
}
.tech-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: 7% 0;
}
.tech-label {
  font-size: 18px;
  color: rgb(144,145,146);
  font-weight: lighter;
}
.tech-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}
.tech-icon {
  width: auto;
  height: auto;
  margin-top: 7%;
}
.tech-images{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tech-area {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  position: relative;
  max-width: 270px;
  min-width: 200px;
}
.tech-description {
  font-size: 15px;
  width: 90%;
  text-align: center;
  color: #ffffff;
  flex-wrap: wrap;
  font-weight: lighter;
  line-height: 1.5;
  height: 50%;
  display: flex;
  align-items: center;
  margin-top: 20%;
}
.footer-section {
  color: white;
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: lighter;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 138, 200);
}
.team-section {
  display: flex;
  flex-direction: column;
  color: rgb(80, 81, 82);
  background-color: rgb(241, 242, 244);
}

.team-area {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 40px;
}
.photo {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  border: 3px solid white;
  box-shadow: 0px 1px 2px rgb(162, 162, 162);
}



.tech-desc {
  font-size: 15px;
  width: 175px;
  margin-top: 15px;
  text-align: center;
  line-height: 1.3;
}
.team-section-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.farista-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.farista-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.farista-name {
  font-size: 18px;
  margin-top: 20px;
}
.farista-about {
  height: 50px;
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}
.farista {
  height: 325px;
  border-radius: 50%;
  width: auto;
}
.team-name {
  margin-top: 20px;
}
