.header-section {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 20px 50px;
  height: 120px;
  padding: 0 10px;
}
.logo {
  height: 100%;
  width: auto;
}
.header-background {
  background-color: #EAEBEC;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.header-name {
  font-size: 50px;
  color: #a8a8a8;
  font-variant: small-caps;
}
.header-line {
  color:  #a8a8a8;
  font-size: 17px;
  font-style: italic;
}
.welcome-section {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: #EAEBEC;
}
.content-section {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
}
.section-heading {
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
  color: #a8a8a8;
  font-family: serif;;
  font-weight: lighter;
}
.section-text {
  font-size: 20.45px;
  text-align: center;
  margin: 20px 8% 20px;
  color:  #a8a8a8;
}
.webapp {
  width: 100px;
}
.border-area {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #EAEBEC ;*/
  width: 250px;
  align-items: center;
  margin: 20px 50px 50px;
  position: relative;
}
.boximages{
  position: absolute;
  left: 0;
  top: 0;
}
.tech-area {
  display: flex;
  flex-direction: column;
  width: 150px;
  position: absolute;
  align-items: center;
  margin: 20px 50px 20px;
}
.team-area {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  margin: 20px 50px 20px;
}
.tech-description {
  font-size: 16px;
  width: 225px;
  margin-top: 80px;
  text-align: center;
  color: #ffffff;
}
.tech-desc {
  font-size: 16px;
  width: 175px;
  margin-top: 15px;
  text-align: center;
  color: #a8a8a8;
}
.tech-section-text {
  display: flex;
  justify-content: space-between;
  height: 460px;
}
.team-section-text {
  display: flex;
  justify-content: space-between;
}
.tech-label {
  margin-top: 15px;
  margin-bottom: 18px;
  color: #a8a8a8;
}
.contact-section-content {
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  background-color: #94d1ed;
}
.email {
  width: 50px;
}
.contact-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.email-text {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 15px;
}
.email-text:hover {
  color: #ef4c4c;
}
.photo {
  height: 120px;
  border-radius: 50%;
  width: 120px;
}
